/* styles.css */
.banner {
  position: relative;
  background-image: url('https://i.ibb.co/tPz3tK9/Rectangle-4281.png?fbclid=IwAR1iHjVSDlr0IdVaROO5H5jLL55Nlqc7etzJl89zd14a68j7Mt8X96F19Vw');
  background-size: cover;
  background-position: center;
  color: white;
}

.banner::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.92); 
}

.content {
  position: relative;
  z-index: 2; 
  padding: 20px; 
}
